.contenedorItem {
    display: grid;
    grid-template-areas:
    "img descripcionProd descripcionProd"
    "img contador btnCart";
    margin: 1rem 2rem 0 2rem;
    color: white;
}
.descripContenedor{
    padding: 1rem;
}
.contenedorItem img{
    width: 30rem;
}
img {
    width: 50vw;
}
.descripContenedor{
    grid-area: descripcionProd;
}
img{
    grid-area: img;
}
.contadorContainer{
    grid-area: contador;
    justify-self: end;
}
.btnTerminarCompra{
    color: white;
    font-family: 'poppins';
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#e00597, #760fb6);
    padding: .8rem;
    cursor: pointer;
    transition: .2s;
}
.btnTerminarCompra:hover{
    background-image: none;
    background-color: greenyellow;
    color: #393E46;
}