.productos-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.producto-card{
    width: 300px;
    border:  1px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}
.producto-card button{
    background-color: blue;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.producto-card button:hover{
    background-color: aquamarine;
}