.formConfirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
}
.formConfirm div{
    margin: 20px 0 0 0;
}
.formConfirm form{
    width: 40%;
    min-width: 180px;
}
.clientData{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clientData div{
    display: flex;
    flex-direction: column;
}
.clientData div input{
    min-width: 176px;
    border: none;
    border-radius: 5px;
    padding: .4rem;
    background-color: #151722;
    color: white;
    font-family: 'poppins';
}
.clientData button{
    margin-top: 40px;
    color: white;
    font-family: 'poppins';
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#e00597, #760fb6);
    padding: .8rem;
    cursor: pointer;
    transition: .2s;
}
.clientData button:hover{
    background-image: none;
    background-color: greenyellow;
    color: #393E46;
}
.compraRealizada strong{
    color: greenyellow;
}

@media (max-width: 850px){
    .formConfirm form{
        min-width: 80%;
    }
    .compraRealizada{
        text-align: center;
        padding: 0 2rem 0 2rem;
    }
}