.header {
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.brand{
    font-family: 'barlow';
}
.link{
    text-decoration: none;
    color: #FFD369;
}
.brand:hover{
    color: #eeee;
    transition: .2s;
}
li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
.navlink{
    text-decoration: none;
    color: #FFD369;
}
.navlink:hover{
    color: #eeee;
    transition: .2s;
}
