@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&family=Signika+Negative:wght@500&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Signika Negative', sans-serif; */
.header {
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Signika Negative';
    box-shadow:  0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.brand:hover{
    color: red;
}
/* .brand strong:hover{
    color: red;
} */
.brand strong{
    color: #16213E;
}
.link{
    text-decoration: none;
}
li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
.navlink{
    text-decoration: none;
}
.navlink:hover{
    color: red;
}